@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chewy&family=Fascinate&family=Fascinate+Inline&family=Limelight&family=Roboto&family=Rowdies&display=swap");

:root {
  --purple: rgba(217, 171, 255, 1);
  --blue: rgba(171, 228, 255, 1);
  --green: rgba(221, 255, 171, 1);
  --orange: rgba(255, 218, 160, 1);
  --coral: rgba(255, 171, 171, 1);
  --light: rgb(252, 250, 245);
  --dark: rgb(48, 48, 48);
  --display-font: "Fascinate Inline", cursive;
}

/* global styling */

* {
  background-color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--dark);
}

section {
  height: 100vh;
  margin-bottom: 25vh;
}

.hidden {
  display: none !important;
}

#burger-icon {
  display: none;
}

.nav-header {
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 800;
}
.mob-nav-header {
  display: none;
}

.nav-bar {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
  width: 95%;
  z-index: 10;
}

.nav-menu {
  font-size: 1.2rem;
  padding: inherit;
  border: 2px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px black;
  background-color: var(--light);
  cursor: pointer;
  width: max-content;
  margin-top: 0.4rem;
  margin-bottom: 0.7rem;
}

.nav-menu p {
  margin: 0.8rem;
}

.nav-menu span {
  -webkit-text-fill-color: var(--light);
  -webkit-text-stroke: 1.5px var(--dark);
  text-shadow: 1px 1px var(--dark);
}

.collapsable-menu {
  font-size: 1.1rem;
  padding: 1rem;
  border: 2px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px black;
  background-color: var(--light);
  cursor: pointer;
  position: fixed;
  top: 8%;
  right: 2%;
  width: max-content;
  list-style: none;
}

.collapsable-menu li {
  padding: 0.8rem;
  font-style: italic;
}

/* header section */

header {
  height: 86vh;
  padding-top: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  margin-bottom: 25vh;
}

.hero-sect {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 4rem;
  padding-right: 4rem;
}

.hero-sect h3 {
  margin-bottom: 0.8rem;
  line-height: 0.8rem;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0rem;
}

.hero-sect h1 {
  font-family: var(--display-font);
  margin-top: 0;
  font-size: 6rem;
  line-height: 5.9rem;
  /* -webkit-text-fill-color: white; */
  -webkit-text-stroke: 3px var(--dark);
  background: -webkit-linear-gradient(
    131deg,
    var(--purple) 50%,
    var(--blue) 60%,
    var(--green) 70%,
    var(--orange) 75%,
    var(--coral) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  margin-top: 0.9rem;
  line-height: 1rem;
  font-style: italic;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0rem;
}
.hero-txt span {
  font-weight: 600;
  font-style: italic;
}

.down-arrow {
  margin-top: 1rem;
  align-self: center;
  justify-self: center;
  -webkit-text-fill-color: var(--light);
  -webkit-text-stroke: 3px var(--dark);
  text-shadow: 4px 4px var(--dark);
  font-size: 5rem;
}

/* intro section */
#intro-sect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* height: 80vh; */
}

#intro-txt {
  border: 2px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px black;
  margin-left: 3rem;
  margin-right: 3rem;
  grid-column: 2/4;
  grid-row: 1/2;
  padding: 2rem;
  height: max-content;
  font-size: 1.2rem;
  align-self: center;
}

#intro-pic {
  background-image: url("./assets/mirrorball.png");
  height: 80%;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
}

/* assignments grid section */

#assignments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  gap: 3rem;
  margin-left: 6%;
  margin-right: 6%;
}

#ass1,
#ass2,
#ass3,
#ass4 {
  background-size: cover;
  background-repeat: no-repeat;
  height: 37vh;
  width: 40vw;
  border: 3px solid var(--dark);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 7px var(--dark);
}

#ass1 {
  background-image: url("./assets/fonts-ui.png");
}

#ass2 {
  background-image: url("./assets/colors-animations.png");
}

#ass3 {
  background-image: url("./assets/responsive.png");
}

#ass4 {
  background-image: url("./assets/frameworks.png");
}

#assignments-sect h2 {
  margin-left: 6%;
  margin-bottom: 1rem;
}

/* conclussion section */

#concl-sect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: auto;
  /* height: 80vh; */
}

#concl-pic {
  background-image: url("./assets/mirrorball.png");
  height: 80%;
  width: 100%;
  grid-column: 2/4;
  grid-row: 1/2;
  align-self: center;
}

#concl-txt {
  border: 2px solid var(--dark);
  border-radius: 5px;
  box-shadow: -5px 7px black;
  margin-left: 3rem;
  margin-right: 3rem;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 2rem;
  height: max-content;
  font-size: 1.2rem;
  align-self: center;
}

/* Assignments pages */

.assignment-btn {
  padding: 0.8rem;
  border: 2px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px black;
  background-color: var(--light);
  font-size: 1.3rem;
}

/* fonts ui page */

.info-sect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  height: 85vh;
  row-gap: 0;
}

.info-sect h2 {
  margin-bottom: 1rem;
  line-height: 2.4rem;
}

.info-det {
  grid-column: 1/3;
  display: flex;
  border: 3px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px black;
  margin-top: 0;
  height: max-content;
  width: 98.5%;
  overflow: hidden;
}

#responsive-details,
#frame-details {
  background-color: white;
  justify-content: center;
  gap: 4rem;
  margin-top: 1rem;
}

#color-details {
  background-color: var(--light);
  justify-content: space-between;
  gap: 4rem;
  margin-top: 1rem;
}

.fonts div {
  border: 3px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px black;
  margin-right: 1rem;
  padding: 1rem;
  height: 63%;
}

#info-txt p {
  width: 96%;
  border: 3px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px black;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 0;
}

.colors-div {
  border: 3px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px var(--dark);
  margin-right: 1rem;
  height: 73%;
  overflow: hidden;
  position: relative;
}

#font1 {
  font-family: "Limelight", cursive;
  font-size: 3rem;
}

.font-rowdies {
  font-family: "Rowdies", cursive;
  margin-top: 1rem;
  font-size: 3rem;
}

.font-chewy {
  font-family: "Chewy", cursive;
  font-size: 3rem;
  margin-top: 1rem;
}

.fonts span {
  font-family: arial;
  font-style: italic;
  font-size: 1rem;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

#font-abril {
  font-family: "Abril Fatface", cursive;
  font-size: 2.8rem;
  margin-top: 1.2rem;
}

#color1a {
  background-color: #f2f2f2;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 0;
}

#color1b {
  background-color: #bfbfbf;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 20%;
}
#color1c {
  background-color: #8c8c8c;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 40%;
}
#color1d {
  background-color: #404040;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 60%;
}
#color1e {
  background-color: #262626;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 80%;
}

#color2a {
  background-color: #fffdfd;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 0;
}
#color2b {
  background-color: #edcdee;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 20%;
}
#color2c {
  background-color: #f291c7;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 40%;
}
#color2d {
  background-color: #f24738;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 60%;
}
#color2e {
  background-color: #261f1e;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 80%;
}

#color3a {
  background-color: white;
  height: 100%;
  width: 25%;
  position: absolute;
  left: 0;
}

#color3b {
  background-color: #f2f2f2;
  height: 100%;
  width: 25%;
  position: absolute;
  left: 25%;
}

#color3c {
  background-color: #68e1fd;
  height: 100%;
  width: 25%;
  position: absolute;
  left: 50%;
}

#color3d {
  background-color: #231f20;
  height: 100%;
  width: 25%;
  position: absolute;
  right: 0;
}

#color4a {
  background-color: white;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 0;
}

#color4b {
  background-color: #f2f2f2;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 20%;
}

#color4c {
  background-color: #68e1fd;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 40%;
}

#color4d {
  background-color: #15a0bf;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 60%;
}

#color4e {
  background-color: #152026;
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
}

.assignment-txt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75% 25%;
  height: 75vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: auto;
}

.ass-pic {
  background-image: url("./assets/mirrorball.png");
  height: 100%;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
}

.txt {
  grid-column: 2/4;
  grid-row: 1/2;
  border: 3px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px var(--dark);
  padding: 2rem;
  font-size: 1.2rem;
  height: max-content;
  align-self: center;
}

.next-btn {
  grid-column: 3/4;
  height: max-content;
  width: max-content;
  padding: 1rem;
  border: 3px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px var(--dark);
  justify-self: right;
  align-self: center;
}

.prev-btn {
  grid-column: 1/2;
  height: max-content;
  width: max-content;
  padding: 1rem;
  border: 3px solid var(--dark);
  border-radius: 5px;
  box-shadow: 5px 7px var(--dark);
  justify-self: left;
  align-self: center;
}

@media screen and (max-width: 800px) {
  /* GLOBAL STYLING */

  body {
    width: 100vw;
  }

  section {
    margin-bottom: 8%;
  }

  header {
    justify-content: space-around;
    padding-top: 10%;
  }

  /* NAV BAR */

  .nav-header {
    display: none;
  }
  .mob-nav-header {
    display: block;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 800;
  }

  .collapsable-menu {
    font-size: 1.6rem;
    margin-top: 0;
  }

  .collapsable-menu li {
    padding: 1.5rem;
    border-bottom: 2px solid var(--dark);
  }

  .collapsable-menu li:last-child {
    border-bottom: none;
  }

  /* FRONT PAGE */
  .hero-sect {
    flex-direction: column-reverse;
    margin-top: 0;
    gap: 0;
    padding-top: 3vh;
  }
  .down-arrow {
    margin-top: 0;
  }
  .hero-txt h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  #intro-txt {
    grid-column: 1/4;
  }

  #ass1 {
    background-image: url("./assets/fonts-mobile.png");
  }
  #ass2 {
    background-image: url("./assets/colors-mobile.png");
  }
  #ass3 {
    background-image: url("./assets/resp-mobile.png");
  }
  #ass4 {
    background-image: url("./assets/frameworks-mobile.png");
  }

  #concl-txt {
    grid-column: 1/4;
  }

  /* ASSIGNMENTS PAGES */

  .ass-header {
    margin-bottom: 8%;
    height: 90vh;
    justify-content: end;
  }

  .hero-sect {
    padding-left: 5%;
    padding-right: 5%;
    gap: 5rem;
  }
  .info-sect {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    height: max-content;
  }

  .info-sect h2 {
    font-size: 2.2rem;
    margin-bottom: 0.2rem;
  }
  #font1 {
    margin-top: 1rem;
  }

  .colors {
    height: max-content;
  }

  .colors-div {
    height: 24vh;
  }

  .info-det {
    flex-direction: column;
    height: min-content;
    width: 86vw;
  }
  .assignment-txt {
    height: 100vh;
    margin-left: 0.2rem;
  }

  .txt {
    grid-column: 1/4;
    margin-left: 1rem;
  }
}
